
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <i class="fa fa-bars" style="margin-left: 100px;color: green;" aria-hidden="true"></i>
    <a class="navbar-brand" style="margin-left: 20px;" routerLink="/moneyplantitemcomponent">Money plant</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/expert">Experts <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="#">Q&A</a>
        <a class="nav-item nav-link active" href="#">About</a>
        <a class="nav-item nav-link active" href="#">Products</a>
        <a class="nav-item nav-link active" href="#">Learn</a>
        <i class="fa fa-search" style="margin-left: 190px;margin-top: 10px;" aria-hidden="true"></i>
        <a class="btn btn-success float-end" style="margin-left: 30px;background-color: rgb(17, 180, 17);" >Login</a>

      </div>
    </div>
   
  </nav>
  
