<div class="container">
    <div class="grid-container-element">
        <div class="grid-child-element-one">
          Choose the expert for your financial growth<br>
          <h2>Your financial<br> health in safe hands</h2>
          Certified advisors & Community members<br><br>
          <button class="knowmore">Know more</button>
        </div>
        <div class="grid-child-element-two" >
          <img src="https://thumbs.dreamstime.com/z/portrait-asian-business-team-studio-41417081.jpg" atyle=" height:200px;
          width:100%;">
        </div>
      </div>
</div>