
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th> Expert name</th>
            <th> specialization</th>
            <th>  Experience</th>
            <th> Fees</th>
            <th> Email Id </th>
            <th> Phone Number </th>
           
            

            
            
            
        </tr>
    </thead>
    <tr *ngFor="let expert of allExpert">
        <td> {{e.expertName}} </td>
        <td>{{e.specialization}}</td>
            <td>{{e.experience}}</td>
                <td> {{e.fees}}</td>
                <td>{{e.emailId}}</td>
            <td>{{e.phoneNumber}}</td>
           
            <!-- <td>{{h.imageName}}</td> -->
        <td>
    
    
</table>