<html>
<body>

<div class="container">
<div class="box">
<span>Edit message</span>
<br>
<span>View message</span>
</div>
<div class="curve-box">
<p class="text"><b>Congratulations!!!<br>Your Message has been sent</b><br><p>Thank you for your Message.Our consultant will get back to you in next 72 hrs.</p>
</div>
<div>
<p class="left-text"><b>To avail Fast Track Service*</b><br><p>pay basic consultant charges now.<br>*Expert will connect with you in next 24 hrs.</p></p>
<button class="button"> Avail Fast track</button>
<p>Disclaimer & Refund Policy</p>
</div>
</div>

</body>
</html>