
<h3>Find Expert</h3>
  <div class="search-container">
    <input type="text" placeholder="Location" class="search-input">
   

  <input type="text" placeholder="Search Advisor"  #specialization name="#specialization" class="search-input">
   <!-- <button (click)="getByspecialization(specialization.value)"  class="search-button">Search</button>
  -->
   <button (click)="getByspecialization(specialization.value)"  class="search-button"><a routerLink="/list">Search</a></button>

    
   <!-- <a routerLink="/list"> -->
  <app-banner></app-banner>
  <!-- routerLink="/bookingform" -->
  <!-- <div class="container">
  <div class="row">
      <div class="col">-->
          <!-- <div class="card"> 
              <div *ngFor="let expert of allExpert">
                  <table>
                      <tr>
                          <td><img src="/assets/images/{{expert.imageName}}" alt="Expert image" width="120px"
                                  height="150px"> </td>
                          <td>

                              <h3 class="card-header" style="text-transform: capitalize;">{{expert.expertName}}</h3>
                              <div class="card-body">
                                  <h5 class="card-title" style="text-transform: capitalize;">specialization:{{expert.specialization}}</h5>
                                  
                                  <b>Experience:</b>{{expert.experience}}<br />
                                  
                                  <b>Email:</b>{{expert.emailId}}<br />
                                  <b>Phone:</b>{{expert.phoneNumber}}<br />
                                  
                                  
                              </div>
                              <tr>
                                  <button  type="button">Connect Now</button>
                                     
                                   </tr> 
                                  
                          </td>
                          </tr></table>
                                   -->



  
  
  
  <p class="para">Private online consultations with verified,certified financial experts in all sectors.     <button class="viewallexperts">ViewAll Experts</button>
  </p><br><br>
 
  
  
   
   <div class="img">
    <img class="img"src="assets/images/1.png">
    
</div>
<div class="img2">
  <img class="img"src="assets/images/2.png">
  
</div>
<div class="img3">
  <img class="img"src="assets/images/3.png">
  
</div>
<div class="img4">
  <img class="img"src="assets/images/4.png">
  
</div>


<hr>

  <div class="grid-container">
    <div class="left-align"><h2>Read Top Articles From Experts.</h2>
    <p>Financial articles that keep you informed about good finance practices and achieve your goals.</p><br>
  <button class="btn">Read All Articles</button>
  </div>
    <div class="center-align"><h5>Money Management Resources<br> You Won't want to miss</h5>
    <p>By Chauncey,crail ,Certified Advisor<br><br>
  We strive to provide you with valuable information &resources.opinions are from the author alone,not from...</p>
  <button class="btn">Read More</button></div>
    <div class="left-align"><h5>11 Things To Do When You've Lost Your Job</h5>
    <p>By Jane Haskins,Contributor<br><br>
    There's no doubt about it:it sucks when you've lost your job.Job loss is stressful under normal times,and even more with so...</p>
    <button class="btn">Read More</button>
  </div>
    </div>

    <!-- <div class="card"> 
      <div *ngFor="let expert of allExpert">
          <table>
              <tr>
                  <td><img src="/assets/images/{{expert.imageName}}" alt="Expert image" width="120px"
                          height="150px"> </td>
                  <td>

                      <h3 class="card-header" style="text-transform: capitalize;">{{expert.expertName}}</h3>
                      <div class="card-body">
                          <h5 class="card-title" style="text-transform: capitalize;">specialization:{{expert.specialization}}</h5>
                          
                          <b>Experience:</b>{{expert.experience}}<br />
                          
                          <b>Email:</b>{{expert.emailId}}<br />
                          <b>Phone:</b>{{expert.phoneNumber}}<br />
                          
                          
                     
                          <button  type="button" routerLink="/popupform">Connect Now</button>

                         

                        </div>
                      </td>
                           
                         </tr> 
                        
                
                </table>
                </div>
                </div> -->